<div class="body-for-button">
  <%= link_to "Добавить проект", projects_path, method: :post, class: "btn btn-light" %> <br>
  <%= link_to "Сравнить проекты", projects_path, method: :post, class: "btn btn-light" %>
</div>
