<div class="body-for-button">
  <%= link_to "Добавить проект", projects_path, method: :post, class: "btn btn-light" %> <br>
  <%= link_to "Сравнить проекты", projects_path, method: :get, class: "btn btn-light" %>
</div>


<%= text_field_tag "ex2", nil, type: 'text',
                 data: {'slider-id' => 'ex1Slider',
                        'slider-min' => '10',
                        'slider-max' => '1000',
                        'slider-step' => '5',
                        'slider-value' => '[250,450]' }
 %>