/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";

/*
 *= require_tree . 
 */

#container {
  position: static;
  width: 100%;
  height: 80px;
  background-color: #CDE3F4;
}

#container #logo {
  display: inline-block;
}

#container a {
  color: #00192B;
}

#container .nav.justify-content-end {
  float: right;
  width: 500px;
  padding: 20px;
  color: #00192B;
}

#container li.nav-item.compare > a {
  color: red;
}

#footer {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #CDE3F4;
  background-color: #2B3B48;
}

.body-for-button {
  width: 100%;
  text-align: center;
  marging: 0px;
}

.btn-light:first-child {
  font-size: 60px;
  color: #432700;
  background-color:#FCC883;
}

.btn-light {
  background-color: #FFEBCF;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: none;
  font-size: 40px;
  text-transform: uppercase;
  color: #705B3F;
  margin: 20px;
}

.btn-light:hover {
  background-color: #FCEAD1;
}

.btn-primary{
  background-color: #01AC67;
  border: 1px solid #2B5F4A;
}

.btn-primary:hover {
  background-color: #01AC67;
  border: 1px solid #2B5F4A;
}

.btn-secondary {
  margin-top: 10px;
}

.btn-danger {
  background-color: #FD4C01;
  border: 1px solid #5E1C00;
}

form#new_user.new_user, .edit_user, .project-form{
  width: 30%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 100px;
}

.back {
  color: #2B3B48;
}

//***********************************
// Error message
.field_with_errors {
  padding: 2px;
  background-color: #FF9D74;
  display: table;
}

#error_explanation {
  width: 400px;
  border: 2px solid #8B563F;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #FFDECF;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #5E1C00;
    color: #FFDECF;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//***********************************
//style for new project

.project-edit-name {
  display: none;
  width: 100%;
}

#project_name.name {
  border: none;
  border-bottom: 2px solid #00192B;
  color: #00192B;
}

input#project_name.name {
  width: 100%;
  height: 100%;
}

.new-proj {
  position: absolute;
  height: 38px;
  width: 146px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 100px;
} 

//***********************************
//style for all projects

h1 {
  color: #00192B;
  text-align: center;
}

table.all-projects {
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #00192B;
  width: 80%;
}

table.all-projects td {
  padding: 10px;
  border-bottom: 1px solid #CDE3F4;
}

table.all-projects tbody {
  display:inline-block;
  width: 100%;
}

table.all-projects td:first-child {
  width: 100%;
}

table.all-projects a{
  color: #00192B;
}

table.all-projects tr:hover{
  font-size: 150%;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.compare-projs {
  display: flex; 
  justify-content: center;
  width: 146px;
  margin: 0px auto 80px;
}

//***********************************
//style for all aspects

.bocr {
  border: 1px solid #cfd7e3;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: #00192B;
  width: 80%;
  padding: 20px;
  
}

.bocr:last-child {
  margin-bottom: 100px;
}

.opportunity-style {
  border-left: 20px solid #FFEDB8;
  list-style: none;
}

.opportunity-style li {
  width: 100%;
}

.opportunity-style p {
  padding: 0px;
  margin: 0px;
}

.opportunity-style li form {
  width: 90%;
  position: relative;
}
.opportunity-style li form input {
  width: 100%;
}

.opportunity-style li > * {
  display: inline-block;
  padding: 10px;
}

.opportunity-style li a {
  display: inline-block;
}

.opportunity-style input#opportunity_name {
  border: none;
}

.opportunity-style input#opportunity_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//benefits***************************

.benefit-style {
  border-left: 20px solid #B8FFDF;
  list-style: none;
}

.benefit-style li {
  width: 100%;
}

.benefit-style p {
  padding: 0px;
  margin: 0px;
}

.benefit-style li form {
  width: 90%;
  position: relative;
}
.benefit-style li form input {
  width: 100%;
}

.benefit-style li > * {
  display: inline-block;
  padding: 10px;
}

.benefit-style li a {
  display: inline-block;
}

.benefit-style input#benefit_name {
  border: none;
}

.benefit-style input#benefit_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//costs***************************

.cost-style {
  border-left: 20px solid #B8BAFF;
  list-style: none;
}

.cost-style li {
  width: 100%;
}

.cost-style p {
  padding: 0px;
  margin: 0px;
}

.cost-style li form {
  width: 90%;
  position: relative;
}
.cost-style li form input {
  width: 100%;
}

.cost-style li > * {
  display: inline-block;
  padding: 10px;
}

.cost-style li a {
  display: inline-block;
}

.cost-style input#cost_name {
  border: none;
}

.cost-style input#cost_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//risks***************************

.risk-style {
  border-left: 20px solid #FFCCB8;
  list-style: none;
}

.risk-style li {
  width: 100%;
}

.risk-style p {
  padding: 0px;
  margin: 0px;
}

.risk-style li form {
  width: 90%;
  position: relative;
}
.risk-style li form input {
  width: 100%;
}

.risk-style li > * {
  display: inline-block;
  padding: 10px;
}

.risk-style li a {
  display: inline-block;
}

.risk-style input#risk_name {
  border: none;
}

.risk-style input#risk_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//***********************************
//style for checkbox

.accept-check > input#project_ids_ {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #2B5F4A;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;   
  outline: none;
}

.accept-check > input#project_ids_:checked::before
{
  position: absolute;
  font: 18px 'Open Sans', sans-serif;
  font-weight: bold;
  left: 9px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}
.accept-check > input#project_ids_:hover
{
  background-color: #70F7C1;
}
.accept-check > input#project_ids_:checked
{
  background-color: #70F7C1;
}

//***********************************
//***********************************
//proj-range
/*
.proj-range {
  width: 90%;
  margin: 50px;
}

.proj-range > th, td {
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #CDE3F4;;
}

.proj-range > tr:first-child, td:first-child {
  background-color: #CDE3F4;
}

*/

.current_step a {
  color: red;
}