/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";

/*
 *= require_tree .
 *= require nvd3
 */

body {
  background-color: #fff;
}

#header {
  position: static;
  width: 100%;
  height: 80px;
  background-color: #CDE3F4;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  margin-bottom: 50px;
}

#header #logo {
  display: inline-block;
}

#header a {
  color: #00192B;
}

#header .nav.justify-content-end {
  float: right;
  padding: 20px;
  color: #00192B;
}

#header .destroy-compare {
  color: #6c757d;
  display: inline-block;
}

#header .compare {
  color: #c67171;
  display: inline-block;
}

#footer {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #CDE3F4;
  background-color: #2B3B48;
}

.body-for-button {
  width: 100%;
  text-align: center;
  marging: 0px;
}

.back-but {
  margin: 0px 0px 0px 20px;
}

.btn-light:first-child {
  font-size: 60px;
  color: #1e452c;
  background-color:#c4e2cd;
  border: 1px solid #8fc19f;
}

.btn-light {
  background-color: #e2c4c4;
  font-size: 40px;
  text-transform: uppercase;
  color: #451e1e;
  margin: 20px;
  border: 1px solid #a27373;
}

.btn-primary{
  background-color: #01AC67;
  border: 1px solid #2B5F4A;
}

.btn-primary:hover {
  background-color: #01AC67;
  border: 1px solid #2B5F4A;
}

.btn-secondary {
  margin-top: 10px;
}

.btn-danger {
  background-color: #FD4C01;
  border: 1px solid #5E1C00;
}

form#new_user.new_user, .edit_user, .project-form{
  width: 30%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 100px;
}

.back {
  color: #2B3B48;
}

//***********************************
// Error message
.field_with_errors {
  padding: 2px;
  background-color: #FF9D74;
  display: table;
}

#error_explanation {
  width: 400px;
  border: 2px solid #8B563F;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #FFDECF;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #5E1C00;
    color: #FFDECF;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//***********************************
//style for new project

.project-edit-name {
  display: none;
  width: 100%;
}

#project_name.name {
  border: none;
  border-bottom: 2px solid #00192B;
  color: #00192B;
}

input#project_name.name {
  width: 100%;
  height: 100%;
}

.new-proj {
  position: absolute;
  height: 38px;
  width: 146px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 100px;
} 

//***********************************
//style for all projects

.little-body {
  width: 90%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #00192B;
}

h1 {
  color: #00192B;
  text-align: center;
}

h1 > * > * {
  border: none;
  text-align: center;
}

table.all-projects {
  width: 100%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

table.all-projects td {
  padding: 10px;
  border-bottom: 1px solid #CDE3F4;
}

table.all-projects tbody {
  display:inline-block;
  width: 100%;
}

table.all-projects td:first-child {
  width: 100%;
}

table.all-projects a{
  color: #00192B;
}

table.all-projects tr:hover{
  font-size: 150%;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.compare-projs {
  display: flex; 
  justify-content: center;
  width: 146px;
  margin: 0px auto 80px;
}

.change_project_name {
  display: none;
}
.change_project_name > *::placeholder {
  color: #00192B;
  background-color: #CDE3F4;
}

.change_project_name > * {
  border: none;
}

//***********************************
//style for all aspects

.bocr {
  border: 1px solid #cfd7e3;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: #00192B;
  width: 80%;
  padding: 20px;
  
}

.bocr:last-child {
  margin-bottom: 100px;
}

.opportunity-style {
  border-left: 20px solid #FFEDB8;
  list-style: none;
}

.opportunity-style li {
  width: 100%;
}

.opportunity-style p {
  padding: 0px;
  margin: 0px;
}

.opportunity-style li form {
  width: 90%;
  position: relative;
}
.opportunity-style li form input {
  width: 100%;
}

.opportunity-style li > * {
  display: inline-block;
  padding: 10px;
}

.opportunity-style li a {
  display: inline-block;
}

.opportunity-style input#opportunity_name {
  border: none;
}

.opportunity-style input#opportunity_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//benefits***************************

.benefit-style {
  border-left: 20px solid #B8FFDF;
  list-style: none;
}

.benefit-style li {
  width: 100%;
}

.benefit-style p {
  padding: 0px;
  margin: 0px;
}

.benefit-style li form {
  width: 90%;
  position: relative;
}
.benefit-style li form input {
  width: 100%;
}

.benefit-style li > * {
  display: inline-block;
  padding: 10px;
}

.benefit-style li a {
  display: inline-block;
}

.benefit-style input#benefit_name {
  border: none;
}

.benefit-style input#benefit_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//costs***************************

.cost-style {
  border-left: 20px solid #B8BAFF;
  list-style: none;
}

.cost-style li {
  width: 100%;
}

.cost-style p {
  padding: 0px;
  margin: 0px;
}

.cost-style li form {
  width: 90%;
  position: relative;
}
.cost-style li form input {
  width: 100%;
}

.cost-style li > * {
  display: inline-block;
  padding: 10px;
}

.cost-style li a {
  display: inline-block;
}

.cost-style input#cost_name {
  border: none;
}

.cost-style input#cost_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//risks***************************

.risk-style {
  border-left: 20px solid #FFCCB8;
  list-style: none;
}

.risk-style li {
  width: 100%;
}

.risk-style p {
  padding: 0px;
  margin: 0px;
}

.risk-style li form {
  width: 90%;
  position: relative;
}
.risk-style li form input {
  width: 100%;
}

.risk-style li > * {
  display: inline-block;
  padding: 10px;
}

.risk-style li a {
  display: inline-block;
}

.risk-style input#risk_name {
  border: none;
}

.risk-style input#risk_name::placeholder {
  color: #00192B;
  font-size: 20px;
}

//***********************************
//style for checkbox

.accept-check > input#project_ids_ {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #2B5F4A;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;   
  outline: none;
}

.accept-check > input#project_ids_:checked::before
{
  position: absolute;
  font: 18px 'Open Sans', sans-serif;
  font-weight: bold;
  left: 9px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}
.accept-check > input#project_ids_:hover
{
  background-color: #70F7C1;
}
.accept-check > input#project_ids_:checked
{
  background-color: #70F7C1;
}

//***********************************
//***********************************
//compare-project
.new_compare_project {
  //border: 1px solid #00192B;
  width: 90%;
  margin: 50px;
}

//***********************************
//***********************************
//proj-range

.proj-range {
  width: 90%;
  margin: 50px;
}

.proj-range.th, .proj-range.td {
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #CDE3F4;;
}

.proj-range.tr:first-child, .proj-range.td:first-child {
  background-color: #CDE3F4;
}

//---------------------------

.my-table {
  width: 85%;
  height: 100%;
  text-align: center;
  margin: 50px 100px;
}

.my-table > * > tr > td:first-child {
  background-color: aqua;
  width: 150px;
}

.my-table > * > tr{
  border: 1px solid #000;
}

//************************************
//************************************

.proj-range tr {
  height: 60px;
}
//.proj-range .rangeText {
//  border: 1px solid red;
//  border-radius: 10px;
//  padding: 10px;
//}




.main_aspect{
  display: inline-flex;
  width: 24%;
}

.main_aspect p {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.minor_aspect{
  display: inline-flex;
  width: 24%;
}

.minor_aspect p {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.container {
  display: inline-flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-minmax{
  width: 400px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #000;
}

.rangeInput {
    margin-top: 15px;
    width: 400px;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: #00192B;
    }
    &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: #00192B;
    }
  
    &::-webkit-slider-thumb {
        box-shadow: none;
        border: 1px solid #00192B;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
        height: 32px;
        width: 16px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -12px;
    }
  &::-moz-range-thumb{
        box-shadow: none;
        border: 1px solid #00192B;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
        height: 32px;
        width: 16px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -12px;
  }
  &::-moz-focus-outer {
    border: 0;
    }
}
.rangeText {
    position: relative;
    transform-origin: center center;
    display: block;
    left: 200px;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    box-sizing: border-box;
    border: 1px solid #00192B;
    background-image: linear-gradient(to bottom, #dfe9f0, #739fc7);
    margin-top: 2px;
    margin-left: -22px;
    left: attr(value);
    color: #00192B;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    &::after {
        display: block;
        font-size: 20px;
        letter-spacing: 0.07em;
        margin-top: -2px;
    }
    
}









/*

input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 10px;
  background: #AAA;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: -10px;
  background: steelblue;
  border-radius: 50%;
  border: 2px solid white;
}
input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px; // equal to height of runnable track /
  width: 500px; // make this bigger than the widest range input element /
  left: -502px; // this should be -2px - width /
  top: 8px; // don't change this /
  background: #777;
}

*/




