<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Главный проект</li>
    <li class="breadcrumb-item">Оценка главных аспектов BOCR</li>
    <li class="breadcrumb-item">Оценка индивидуальных аспектов</li>
    <li class="breadcrumb-item">Оценивание проектов</li>
    <li class="breadcrumb-item active" aria-current="page">Результат</li>
  </ol>
</nav>

<h1>Результаты</h1>
<div class="new_compare_project">
  <%= column_chart @projects_priorities_and_global_result.first %>
<p>Мультипликативная свертка</p>

<%= column_chart @projects_priorities_and_global_result.second %>
<p>Аддитивная свертка</p>
</div>
