<div class="link_to_steps">
  <div><%= link_to "главный проект", compare_project_path(:assign_main), method: :get %></div> 
  <div><%= link_to "оценивание", compare_project_path(:compare_projects), method: :get %></div>
  <div class="current_step"><%= link_to "расчет приоритетов", compare_project_path(:set_criteria_priorities), method: :get %></div>
  <div><%= link_to "результат", compare_project_path(:get_global_ratings), method: :get %></div>
</div>

<p>---</p>